[Desktop Entry]
Version=1.1
Name=IRPF 2022
Comment=Imposto de Renda para Pessoa Fisica
Exec=/app/bin/irpf.sh
Type=Application
Categories=Utility;
Keywords=irpf2022;darf;Imposto de Renda para Pessoa Fisica;